<html>
<head>
    <title> Weather Dashboard</title>
    <link rel = "stylesheet" type = "text/css" href="{{url_for('static', filename = 'styles/home/css') }}">
</head>
<body>
<h2 class = "weatherText">Weather Dashboard Using Flask</h2>

<form class = "weatherText" id="weatherForm" action="{{ url_for('renderResults') }}" method = "post">
    Location Zip Code: <input id = "weatherInput" type="text" name = "zipcode">
    <br>
    <input id = "weatherSubmit" type = "submit" value = "Submit">
</form>

</body>
</html>